  <div>
    <div><%= message.body %></div>
    <div><%= link_to 'reply', new_message_path(:parent_id => message) %></div>
    <div><%= link_to 'Show', message %></div>
    <div><%= link_to 'Edit', edit_message_path(message) %></div>
    <div><%= link_to 'Desdivoy', message, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  </div>